RewriteEngine on
RewriteRule index.html index.php
RewriteRule ^(.+)-(.+)-(articleDetail)-(.+).html index.php?app=$1&mod=$2&act=$3&id=$4
RewriteRule ^(.+)-(.+)-(daily)-(.+)-(.+).html index.php?app=$1&mod=$2&act=$3&id=$4&type=$5
RewriteRule ^(.+)-(Train)-(videoDetail)-(.+).html index.php?app=$1&mod=$2&act=$3&id=$4
RewriteRule ^(.+)-(.+)-(info)-(.+).html index.php?app=$1&mod=$2&act=info&type=$4
RewriteRule ^admin.html index.php?app=admin
RewriteRule ^Plan.html index.php?app=index&mod=Plan
RewriteRule ^Train.html index.php?app=index&mod=Train
RewriteRule ^Nutri.html index.php?app=index&mod=Nutri
RewriteRule ^Append.html index.php?app=index&mod=Append
