RewriteEngine on
 RewriteCond %{HTTP_HOST} ^aijianmei.com [NC]
 RewriteRule ^(.*)$ http://www.aijianmei.com/$1 [L,R=301]

RewriteBase /
RewriteRule index.html index.php
RewriteRule ^(.+)-(.+)-(articleDetail)-(.+).html index.php?app=$1&mod=$2&act=$3&id=$4
RewriteRule ^(.+)-(.+)-(daily)-(.+)-(.+).html index.php?app=$1&mod=$2&act=$3&id=$4&type=$5
RewriteRule ^(.+)-(Train)-(videoDetail)-(.+).html index.php?app=$1&mod=$2&act=$3&id=$4
RewriteRule ^(.+)-(.+)-(info)-(.+).html index.php?app=$1&mod=$2&act=info&type=$4
RewriteRule ^search_(.+)_l(.+).html index.php?app=index&mod=Search&act=dosearch&skword=$1&pg=$2
RewriteRule ^search_(.+).html index.php?app=index&mod=Search&act=dosearch&skword=$1
RewriteRule ^goodcomment.html index.php?app=index&mod=Search&act=goodcomment
RewriteRule ^goodcomment_(.+).html index.php?app=index&mod=Search&act=goodcomment&pg=$1
RewriteRule ^admin.html index.php?app=admin
RewriteRule ^Plan.html index.php?app=index&mod=Plan
RewriteRule ^Train.html index.php?app=index&mod=Train
RewriteRule ^Nutri.html index.php?app=index&mod=Nutri
RewriteRule ^Append.html index.php?app=index&mod=Append
RewriteRule ^Lifestyle.html index.php?app=index&mod=Lifestyle
RewriteRule ^forum/(.+) forum/$1