body{
	width:auto;
}

/******* Banner *******/
	/*.lay_banner .ul_1{
			width:3440px;
			position: relative;
		}
		.choice_area li{
			float: left;
			display: inline-block;
			height: 80px;
			width: 120px;
			margin: 12px 9px;
			cursor: pointer;
			border: 3px solid transparent;

		}
		.ul_2 li img{
			width:120px;
			height:80px;
		}*/
		#banner{
			width:960px;
			height:470px;
			overflow:hidden;
			position:relative;
		}
		#banner ul{
			height:470px;
			position:absolute;
		}
		#banner ul li{
			float:left;
			width:960px;
			height:453px;
			overflow:hidden;
			position:relative;
			text-align: center;
		}

		#banner ul li div{
			position:absolute;
			overflow:hidden;
		}

		#banner .btn{
			position:absolute;
			width:960px;
			height:10px;
			padding:5px 10px;
			right:0;
			bottom:0;
			text-align:center;
		}
		#banner .btn span{
			display:inline-block;
			_display:inline;
			_zoom:1;
			width:10px;
			height:10px;
			_font-size:0;
			margin-left:5px;
			cursor:pointer;
			background:#fff;
		}

		#banner .preNext{
			width:200px;
			height:270px;
			position:absolute;
			top:178px;
			cursor:pointer;
			z-index:1000;
		}
		#banner .pre{
			left:20px;
			background:url(../images/turn_left.png) no-repeat;
		}
		#banner .next{
			right:20px;
			background:url(../images/turn_right.png) no-repeat right top;
		}	
			

	
/******** Content *********/

	#content{
		margin-bottom: 60px;
		background: url(../images/border.png) no-repeat center top;
	}
	#content img{
		display: block;
		height:200px;
		width:300px;
	}
	.show_enter{
		position: relative;
		padding: 2px;
		box-shadow: 0 0 8px #ccc;
		overflow: hidden;
	}
	.lay_top{
		width:960px;
		margin:0 auto;
		margin-bottom:10px;
	}
	.part{
		margin:10px 12px;
	}
	.classify{
		float: left;
		width: 304px;
		margin-right:12px;
	}
	.part .spe{
		margin-right: 0px;
	}
		


		/*每日锻炼*/
		
		.expend{
			clear:both;
			margin-top: 15px;
			font-size: 18px;
		}
		.expend li{

		}
		.expend li a{

		}

		/*message hidden part (day day exercise)*/ /*outside 2013/4/25*/

		.ms_hidden_part{
			position: absolute;
			top:152px;
			left:2px;
			width: 300px;
			height:200px;
			font:22px 'Microsoft YaHei',微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;
			color:white;
			text-align: center;
			z-index: 4;
		}
		.bg_opc{
			position: absolute;
			display: block;
			width: 300px;
			height:200px;
			left:2px;
			top:152px;
			background: black;
			opacity: 0.35;
			z-index: 2;
		}
		.bg_opc_2{
			position: absolute;
			display: block;
			width: 300px;
			height:200px;
			left:2px;
			top:152px;
			z-index:6;
		}
		.ms_hidden_part h3{
			 font-size: 28px;
		    padding: 6px 0 36px;
		    font-weight: bold;
		}
		.ms_hidden_part p{
    		line-height: 32px;
		}



	
	
	
	