/***********************content开始*************************/
	/*左边导航栏结束*/		
	.training{
		float:left;
		width:760px;
		font-size: 18px;
		font-weight: 700;
		color: gray;
	}
			/**training公共选择器部分**/
			.show_pic{
				float: left;
				margin: 10px 64px 0 30px;
				opacity: 0.7;
				transition:all 2s;
				-webkit-transition:all 2s;
				-o-transition:all 2s;
				-moz-transition:all 2s;
			}
			.show_pic:hover{
				opacity: 1;
			}
			.show_article{
				display: block;
				margin: 20px 0;
				font-size: 22px;
				color: #3B5A77;
			}
			.tr_classify{
				float: left;
				width: 170px;
				margin: 0 10px 10px 0;
				padding: 5px;
				font-size: 12px;
				border: 1px solid #e6e4e4;
				box-shadow: 0 0 8px #ccc;
			}
			.pic_ct{
				font-size: 13px;
			}
			.expert_intr{
				font-size: 12px;
				color:#27A5D6;
			}

			.summary{
				height:60px;
				line-height: 18px;
			}
			.clear_both{
				clear:both;
			}
			.red{color:red;}
			/**公共部分结束**/
			.part_1{
				padding:0 15px;
				border-left: 2px solid #CCC;
				border-right: 2px solid #ccc;
			}
			.other_part{
				clear:both;
				margin: 10px;
				padding: 10px;
				background: #F1F1F1;
			}
			.title_2{
				margin-bottom: 20px;
				font-size: 20px;
			}
			.part_content{
				margin:10px 15px;
			}
			.tr_top{
				margin-top: 10px;
				padding: 10px 0;
				border: 1px solid rgb(243, 243, 243);
			}
			.classify{
				float: left;
				width: 243px;
				margin: 16px 15px 0 0;
			}
			.last_classify{
				margin-right: 0px;
			}
			.classify .best{
				height:140px;
				width:239px;
				border:2px solid transparent;
			}
			.classify .best_classify{
				line-height: 30px;
				font-size: 16px;
				font-weight: bold;
				text-align: center;
			}
			.supple_pic{
				float: left;
				margin:0 10px;
			}
			.detail{
				display: inline-block;
				margin: 10px 0;
				font-size: 20px;
				color: #003096;
				font-family: '微软雅黑'，'黑体',Tahoma Arial;
			}
			.read_content{
				font-size: 15px;
				line-height: 20px;
			}
			.lay_detail{
				float:left;
				width:254px;
			}

			.read_art{
				display:inline-block;
				width: 81px;
				height:31px;
				line-height: 31px;
				margin-top: 20px;
				font-size: 16px;
				text-align: center;
				color: white;
				background: url(../images/10.png) no-repeat;
			}
			.read_art:hover{
				color:white;
			}
			.tr_article_top{
				height: 377px;
				border: 1px solid #CCC;
				border-radius: 15px;
			}
			.tr_article_top p{
				padding-right: 45px;
			}

			.hot_video,.new_video{
				margin: 10px 15px;
			}
			.lay_hot_video,.lay_new_video{
				margin-right: -10px;
			}
				.plan_article_tl{
					display: inline-block;
					height: 35px;
					padding-top: 8px;
					font-size: 14px;
					color: #56888F;
					font-weight: 700;
				}
				.add_expend{
					display: block;
					margin: 5px 0 10px 0;
					font-size: 12px;
				}
				.new_video img,.hot_video img{
					height: 110px;
					width: 172px;
				}
			.article_top{
				height:120px;
			}
			.new_article{
				margin: 0 19px 0 31px;
			}
			.article_h{
				display: inline-block;
				margin: 3px 0;
				font-size: 18px;
				color: #597AA5;
			}
			.article_classify{
				float: left;
				width: 215px;
				margin-right: 15px;
				border-top: 1px solid #CCC;
			}
							
							.more_cf{
								display: inline-block;
								height: 20px;
								line-height: 20px;
								padding-left: 14px;
								font-size: 13px;
								background: url(../images/training/1.png) no-repeat;
							}
							.article_pic{
								float:left;
								margin-right: 5px;
							}
							.pic_relation{
								float: left;
								width: 130px;
							}
			.pertinence{
				position: relative;
				height: 425px;
				margin: 0 197px;
				font-size: 14px;
				background: url(../images/training/training_bottom.png) no-repeat;
			}			
			.pertinence span{
				font-size: 13px;
				font-weight: 300;
				color: #0070FF;
			}
			.pertinence a{color:#0E88BD;}
			.pertinence a:hover{
				color:#0E709A;
				text-decoration: underline;
			}
					.pt_part_1{
						position: absolute;
						top: 92px;
						left: -152px;
					}
					.pt_part_1 li{
						margin-bottom: 14px;
						text-align: right;
					}
					.pt_part_2{
						position: absolute;
						width: 165px;
						top: 88px;
						left: 401px;
					}
					.pt_part_2 li{
						margin-bottom: 14px;
						text-align: left;
					}
					.special{margin-top: 29px;}
/***********************footer开始*************************/
	#footer{background: url(../images/training/workout_54.jpg)}


/*添加返回顶部按钮*/	
.goTopBtn { 
	position:fixed;
	_position:absolute;
	display:none; 
	text-align:center; 
	line-height:30px; 
	width:28px; 
	bottom:35px; 
	height:90px; 
	font-size:12px; 
	cursor:pointer;
	background: url(../images/01.png) no-repeat;
}
.goTopBtn a{
	/*display: block;
	line-height: 18px;
	width: 20px;
	padding: 6px 0 0 4px;
	font-size: 14px;
	font-weight: bold;
	color: white;*/
}



/*以上是锻炼页面跟子页面的共同部分，以下是锻炼子页面（training_1）的css部分*/
.part_2{
margin: 0 23px;
margin-bottom: 20px;
}
		.content_sw{
			margin: 10px 15px;
		}
		.whole_part{
			margin-right: -15px;
		}
		.son_sw{
			margin-right: -15px;
		}
		.nubble{
			float: left;
			margin: 0 15px 5px 0;
		}
		.nubble p{
			font-size: 16px;
			color: #0C84BD;			
		}
			.rt_picture{
				width: 170px;
				height: 96px;
				border: 2px solid transparent;
			}
/*从视频页面copy过来---------------------------------------------*/
/******* 侧边栏 *********/
	.sidebar{
		width:165px;
		float:left;
		font-size: 12px;
	}
	/****** 视频/文章 ********/
		.sort{
			height:30px;
			border-bottom:1px solid #ccc;
			line-height:30px;
			padding:0 0 8px 20px;
		}
			.sort1,.sort2{
				display:inline-block;
				line-height:24px;
				width:50px;
				text-align:center;
				font-size:16px;
				font-weight:bold;
				margin-right:10px;
				cursor:pointer;
			}
			#show{
				background:lightblue;
			}
	/********** 全部 ***********/
		.bar{
			display:none;
		}
		.current{
			display:block;
		}
		.list{
			height: 30px;
			border-bottom: 1px solid #E5E5E5;
			line-height: 30px;
			padding-left: 20px;
		}
			.list a{
				display: block;
				color: #51639E;
			}
			.list a:hover{
				text-decoration:underline;
				font-weight:bold;
			}
		
		.tab_btn{
			margin: 0 5px;
			width: 50px;
			height: 20px;
			background: none;
			color: #656565;
			font-size: 15px;
			display: inline-block;
			text-align: center;
			line-height: 20px;
		}
		.curr_tit{
			background:lightblue;
		}
/******* 视频 *************/		
	.video{
		display:inline-block;
		margin:0 15px;
	}
	.all .all_ul{
		line-height: 23px;
		padding-bottom: 5px;
		margin:10px auto;
		border-bottom: 1px solid rgb(231, 231, 231);
	}
	/****** 选择分类 ********/
		.video .select{
			
		}
		.opt{
			vertical-align: top;
			font-size: 14px;
		}
		.opt_length{
			display: inline-block;
			width: 530px;
		}
			.select a{
				color: rgb(33, 172, 227);
				font-size: 13px;
				cursor: pointer;
			}
			/*.select .pre{
				background:rgb(33, 172, 227);
				color:white;
			}*/
		/******* 列表 ********/
		.video .each{
			margin-right: -15px;
			padding-bottom: 20px;
			border-bottom: 1px solid #ccd;
		}
		/***** 视频列表 ****/
		.vdos{
			width: 173px;
			display: inline-block;
			margin: 0 15px 5px 0;
			
		}
			.vdos .pic{
				border-radius: 4px;
				width: 173px;
				height: 100px;
				background: #ccc;
			}
			.info{
				height:15px;
				margin-top:8px;
				font-size:12px;
			}
			.play_time{
				display: inline-block;
				height: 16px;
				padding-left: 27px;
				background: url(../images/wm3.png) 0 -416px no-repeat;
			}
			.comment_time{
				float:right;
				padding-left: 20px;
				background: url(../images/wm3.png) 0 -439px no-repeat;
			}
		/******** 文章列表 ********/
			.arts{
				float:left;
				width: 350px;
				height: 82px;
				margin-right: 15px;
				margin-top: 20px;
			}
				.arts .pic{
					width: 104px;
					height: 75px;
					border: 1px solid #ccc;
					padding: 3px;
					float:left;
				}
				.arts .info{
					height: 82px;
					width: 200px;
					display: inline-block;
					margin-left: 10px;
				}
					.info .art_title{
						
						font-weight: bold;
						margin-bottom:5px;
					}
					.art_title a{
						color: #2E4874;
					}
					.art_content{
						margin:0px;
						line-height:20px;
						text-indent:2em;
					}
					.read_all{
						color:#2D4974;
						float:right;
					}
					.count{
						color: red;
						font-weight: bold;
						margin-right: 10px;
					}

	/*底部汇总导航栏*/
		.title_4{
			padding: 5px 0 5px 10px;
			margin: 5px 0;
			font-size: 16px;
			background: #CCC;
		}
		.re_nav{

		}
		.re_nav li{
			float: left;
			width: 326px;
			margin-right: 3px;
			padding: 10px;
			font-size: 13px;
			font-weight: 700;
			border-bottom: 1px dotted #CCC;
		}
		.re_nav li a{
			color:#0E709A;
		}