	        	<div class="same_module clearfix">
	        		<h3 class="sm_title">精彩评论</h3>
					<php>foreach($_CommentList as $key=>$value){</php>
	        		<div class="recomment_good clearfix">
	        			<a class="re_host"  href="/goodcomment.html"><img src="{$value.userimg}" style="height:45px;width:45px;" alt="{$value.userLname}"></a>
	        			<div class="re_part">
	        				<a class="re_name" title="{$value.userLname}" href="/goodcomment.html">{$value.userSname}</a>
							<div class="re_content">
							
	        				<a class="detail" data-original-title="{$value.comtotitle}" href="/goodcomment.html">{$value.content}<i class="re_angle"></i></a>
	        			</div>
						</div>
	        		</div>
					<php>}</php>
	        		<a class="recomment_read_more" href="/goodcomment.html">更多精彩评论></a>
	        	</div>