        		<div class="same_part">
	        		<div class="pm clearfix">
	        			<div class="pm_pic">
						<php>if(!getMid()){</php><img src="Templates/images/login_pic.jpg"><php>}else{</php>
						<img src="<php>echo getUserFace(getMid(),'m')</php>">
						<php>}</php>
						</div>
	        			<div class="most_top">
						<php>if(!getMid()) {</php>
			                <ul class="top_ms clearfix">
			                    <li><a class="login">登录 </a>|</li>
			                    <li><a href="/index.php?app=index&mod=Index&act=selectRegister">注册 </a></li>
			                </ul>
							<php>} else {</php>
			                <ul class="after_ms">
			                    <li class="person_ms">
			                        <span title="<php>echo getUserName(getMid())</php>"><php>echo getUserName(getMid(),'zh',3)</php></span>
			                    </li>
			                    <li class="more"><a href="">帐号<span class="triangle"></span> </a>
			                        <ul class="account">
			                            <li><a href="/index.php?app=index&mod=User&act=edituserinfo">个人资料</a></li>
			                            <li><a href="/index.php?app=home&mod=Public&act=logout">退出帐号</a></li>
			                        </ul>
			                    </li>
			                    <li class="special_buy">
			                        <a class="car_buy <php>if(!getMid()){</php>login<php>}</php>" <php>if(getMid()){</php>href="/shop/flow.php"<php>}</php>>购物车</a>
			                    </li>
			                </ul>
							<php>}</php>
            			</div>
	        		</div>
	        		<p class="pm_signature"><php>echo getUserDes(getMid());</php></p>
	        		<form class="lb_search" action="" onsubmit="return gosearch();" id="lb_search_form" method="get">
	        			<input type="text" id="searchwords"/>
	        			<input type="submit" id="button" value="">
	        		</form>
					<script>
					function gosearch()
					{
						var sw=document.getElementById('searchwords').value;
						if(sw!=''){
							var htmlurl="http://www.aijianmei.com/search_"+sw+".html";
							$("#lb_search_form").attr("action",htmlurl);
							//window.location.href=htmlurl;
							return true;
						}else{
							return false;							
						}

					}
					</script>
	        	</div>
	        	<div class="same_part">
					<div style="margin-bottom:5px;"  class="clearfix">
					<wb:follow-button uid="2692984661" type="red_4" width="240" height="64" ></wb:follow-button>
					</div>
	        		<div class="two_code clearfix">
	        			<img src="Templates/images/weima.jpg" />
	        			<span>扫描二维码,获取新咨讯</span>
	        		</div>
	        	</div>