input,button,select,textarea{outline:none}
.partTit{
	font-size:18px;
	color:#176e90;
	font-weight:normal;
	margin:10px 0;
	text-align: center;
	height:32px;
}
	.titBg{
		position:relative;
		display:inline-block;
		
	}
	.partTit .titLeft,.partTit .titRight{
		position:absolute;
		display:inline-block;
		width:17px;
		height:32px;
		background:url(../images/tool/lefttit.png) no-repeat;
	}
	.partTit .titRight{
		background:url(../images/tool/righttit.png) no-repeat;
	}
	.partTit .tit{
		display:inline-block;
		height:32px;
		line-height:32px;
		padding:0 10px;
		margin:0 auto;
		margin-left: 17px;
		background:url(../images/tool/midtit.png) repeat-x;
		text-align:center;
	}
.tip{
	margin:10px 0;	
}
.tipFont{
	font-size:14px;
	color:#999;
}
.greenFont{
	color:#7fa731;
	font-size:14px;
	font-family:"宋体";
}
.redFont{
	color:#ff4d2a;
	font-size:14px;
	font-family:"宋体";
}
.blueFont{
	color:#57c9f6;
	font-size:14px;
	font-family:"宋体";
}

#weightManage{
	border:1px solid #fff;
	padding:10px;
	margin-bottom:20px;
	background:#efefef;
}
	#userInfo{
		width:200px;
		float:left;
	}
	.separateY{
		width:2px;
		height: 320px;
		float: left;
		background:url(../images/tool/shu.jpg) repeat-y;
	}
	.separateX{
		height: 2px;
		margin-top: 10px;
		background:url(../images/tool/heng.jpg) repeat-x;
	}
		.userFace{
			width:180px;
			height:180px;
			border:1px solid #fff;
		}
		.userName{
			display:block;
			margin:10px 0;
			color:#666;
			font-size:16px;
			font-family:"宋体";
			text-decoration:none;
		}
		.userName:hover{
			text-decoration:underline;
		}
		.userIntro{
			max-height:44px;
			line-height:22px;
			margin-bottom:10px;
			padding-right:20px;
			overflow:hidden;
			font-size:14px;
			color:#999;
		}
		.userLabel{
			display:inline-block;
			margin:0 5px 5px 0;
			background:#21ace3;
			padding:2px 5px;
			color:#FFF;
		}
	#weight{
		float:left;
		width:696px;
		margin:0 20px;
		_margin-left:10px;
	}	
		.weightPro{
			position:relative;
			width:558px;
			height:123px;
			margin:0 auto;
			margin-top: 5px;
			border:1px solid #fff;
			background:#e8eee1;
		}
			.progress{
				width: 399px;
				height:28px;
				margin:0 auto;
				padding:4px;
				background:url(../images/tool/sprites1.png) no-repeat 0 -49px;
			}
				.progress  .innerPro{
					height:20px;
					width:33.3%;
					margin-right: 8px;					
					border-radius: 6px;
					background:url(../images/tool/progress.jpg) repeat-x;
				}
				.progress span{
					display:block;
					margin:0 auto;
					margin-top:-22px;
					line-height:22px;
					text-align:center;
					color:red;
					font-weight:bold;
				}
			.initWeight,.goalWeight{
				position:absolute;
				top: -5px;
				line-height: 135px;	
				font-weight:bold;
				font-size:30px;
				color:white;
				text-align: center;
				text-shadow:0 -1px 1px rgba(0, 0, 0, 0.5);
			
			}
			.initWeight{
				width:135px;
				height:214px;
				left:-72px;
				background:url(../images/tool/sprites1.png) no-repeat 0 -232px;
	
			}
			.goalWeight{
				width:135px;
				height:175px;
				right:-63px;
				background:url(../images/tool/sprites1.png) no-repeat -167px -250px;
			}
			.innerText{
				display:block;
				width:135px;
				text-align:center;
			}
		.userInput{
			position:relative;
			height: 160px;
		}
			.userInput span{
				display:block;
			}
			.userInput input{
				width:54px;
				height:24px;
				padding:4px;
				margin:0 8px;
				background:url(../images/tool/sprites1.png) no-repeat 0 -167px;
				text-align:center;
				font-size:20px;
				color:#999;
			}
			.userInput .input1{
				position:absolute;
				top:27px;
				left: 104px;
				line-height:36px;
			}
			.userInput .input2{
				position:absolute;
				top:23px;
				right:114px;
			}
			.userInput .input3{
				position: absolute;
				left: 40%;
				top: 25px;
			}
				.input3 .curWeight{
					width:157px;
					height:135px;
					margin:0 auto;
					background:url(../images/tool/sprites1.png) no-repeat -341px -252px;
				
					line-height: 135px;	
					font-weight:bold;
					font-size:30px;
					color:white;
					text-shadow:0 -1px 1px rgba(0, 0, 0, 0.5);
				}
					.input3 .blueFont{
						position: absolute;
						top: 53px;
						left: 165px;
						width: 200px;
					}
					.input3 .curDate{
						top:100px;
					}
		.saveBtn{
			text-align:right;
		}
			.save,.edit{
				display:block;
				float:right;
				width:105px;
				height:46px;
				background:url(../images/tool/sprites.png) -379px -48px no-repeat;
			}
			.edit{
				float:none;
				margin:0 auto;
				background:url(../images/tool/sprites.png) -535px -47px no-repeat;
			}
			.save:hover{
				background:url(../images/tool/sprites.png) -379px -116px no-repeat;		
			}
			.edit:hover{
				background:url(../images/tool/sprites.png) -535px -118px no-repeat;
			}
	#tipMsg,.calTip{
		text-align:center;
		color:#666;
		font-size:18px;
	}
		#tipMsg span,.calTip span{
			font-size:40px;
			color:red;
		}
		
		
#dataIn,#dataOut,.bottomRank{
	margin:20px 0;
}
#dataIn{
	margin-bottom:0;
	position:relative;
}
.calTip{
	background: #eaeaea;
	margin-top: 10px;
}
		.moreBtn{
			position:absolute;
			top:5px;
			right:10px;
			width:53px;
			height:30px;
			background:url(../images/tool/sprites.png) -132px 0  no-repeat;
		}
		.moreAct{
			position:absolute;
			width:960px;
			height:416px;
			display:none;
		}
		.actsArea{
			margin-top:20px;
		}
		.moreActCover{
			position: absolute;
			width: 958px;
			height: 414px;
			background: #000;
			border:1px solid #56a9e4;
			z-index: 999;
			opacity: 0.5;
			filter:alpha(opacity=50);
		}
		.acts{
			position:absolute;
			width:900px;
			height:356px;
			margin:0 30px;
			z-index:1000;
			font-size:16px;
			color:white;
			font-weight:bold;
		}
			.acts .tip{
				color:white;
				font-size:20px;
				font-weight:bold;
				text-align:center;
			}
			.moreSider{
				width: 98px;
				border: 2px solid #fff;
				float: left;
				margin-right:30px;
				background: #83CAFD;
				border-radius: 4px;
			}
				.moreSider .moreList{
					margin: 10px 5px;
					text-align: center;
					cursor: pointer;
					height: 24px;
					line-height:24px;
				}
				.moreSider .curList{
					background:#69a2ca;
				}
			.moreRight{
				float: left;
				width: 766px;
				height: 320px;
				position:relative;
				overflow:hidden;
			}
			.moreRight ul{
				position:absolute;
				left:38px;
				width:688px;			
				margin:0 auto;
			}
				.moreRight .showList{
					float:left;
					height:22px;
					margin:15px;
					_margin-left:8px;
					background:#56A9E4;
					border:2px solid #fff;
					border-radius:4px;
					text-align:center;
					padding:12px;
					cursor:pointer;
					font-size:16px;
				}
				.moreRight .preSelect,.moreRight .nextSelect{
					width:40px;
					height:80px;
					cursor:pointer;
				}
				.moreRight .preSelect{
					background:url(../images/tool/sprites.png) 0 -149px no-repeat;
					position: absolute;
					top: 40%;
				}
				.moreRight .nextSelect{
					background:url(../images/tool/sprites.png) -69px -148px no-repeat;
					position:absolute;
					top:40%;
					right:0;
				}
			.hideBtn{
				float: right;
				background: none;
				color: white;
				font-weight: bold;
				font-size: 30px;
			}
			.actNav{
				width: 890px;
				height: 36px;
				padding-right: 70px;
				overflow: hidden;
				background: #56A9E4;
			}
			.actNav li{
				position: relative;
				float:left;
				display: inline-block;
				height:34px;
				padding: 0 16px;
				line-height: 34px;
				cursor: pointer;
				color: white;
				font-size: 18px;
			}
			.actNav .curAct{	
				margin: 1px;
				color: #56A9E4;
				background: white;
			}
			.actNav .curAct span{
				position: absolute;
				top: 24px;
				left: 46%;
				padding: 0;
				overflow: hidden;
				width: 0;
				height: 0;
				font-size: 0;
				line-height: 0;
				border-color: transparent transparent #56A9E4 transparent;
				border-style: solid;
				border-width: 5px;
			}
			.dataLeft,.dataRight{
				background:#eaeaea ;
				border-radius:6px;
			}
			.dataLeft{
				width:154px;
				float:left;
			}
				.date{
					position:relative;
					height:26px;
					margin:10px;
				}
					.date .preDate,.date .nextDate,#datepicker,#datepicker2{
						position:absolute;
						height:26px;
					}
					.date .preDate{
						width:21px;
						background:url(../images/tool/sprites2.png) no-repeat 0 0;
						cursor:pointer;
					}
					#datepicker,#datepicker2{
						width:92px;
						left:21px;
						background:url(../images/tool/sprites2.png) no-repeat -21px 0;
						text-align:center;
						color:white;
					}
					.date .nextDate{
						left:113px;
						width:25px;
						background:url(../images/tool/sprites2.png) no-repeat -113px 0;
						cursor:pointer;
					}
				.dataTab{
					margin:10px;
				}
					.dataTab .list{
						position:relative;
						height:90px;
						margin-bottom:7px;
						cursor:pointer;
					}
					.dataTab .list img{
						width:134px;
						height:90px;
						border-radius:6px;
					}
					.list .cover{
						position: absolute;
						top: 0;
						display: block;
						width: 134px;
						height: 90px;
						background: #000;
						border-radius:6px;
						opacity:0.5;
						filter:alpha(opacity=50);
					}
			.dataRight{
				float:right;
				width:770px;
				padding:10px;
			}
				
				.userTable{
					border: 1px solid #fff;
					border-radius:6px;
				}
					.col{
						width:152px;
						float:left;
						text-align:center;
					}

					.oddRow .col{
						background:#EAEAEA;
					}
					.evenRow .col{
						background:#F3F3F3;
					}
					.thead{
						height:80px;
						background:#56C8F5;
						border-radius: 7px 7px 0 0;
					}
						.thead .col{
							position:relative;
							margin-top:15px;
							font-size:30px;
							font-weight:bold;
							color:white;
							text-shadow:0 -1px 1px rgba(0, 0, 0, 0.5);
						}
						.thead .col span{
							position:absolute;
							display:block;
							width: 100%;
							font-size:14px;
						}
						
						.thead .col1 .rowTip{
							color:white;
						}
					.tBody .actGroup{
						position:relative;
					}
						.tBody .delBtn{
							position: absolute;
							width: 20px;
							height: 20px;
							background: url(../images/tool/sprites.png) -70px -2px no-repeat;
							left: 25px;
							top: 7px;
							z-index: 1;
							display:none;
						}
						.actGroup .col{
							position:relative;
							height:34px;
							line-height:34px;
							border-right: 1px solid #fff;
							border-left: 1px solid #ccc;
						}
							.actGroup .col1{
								border-left:0;
							}
							.actGroup .col5{
								border-right:0;	
							}

							.actGroup .col .cut,.actGroup .col .figure,.actGroup .col .add{
								position:absolute;
							}
							.actGroup .col .cut{
								left:30px;
								top:14px;
								width:6px;
								height:9px;
								background:url(../images/tool/sprites2.png) no-repeat 0 -72px;
								cursor:pointer;
								display:none;
							}
							.actGroup .col .figure{
								left:42px;
								top:5px;
								width:68px;
								height:24px;
								background:url(../images/tool/sprites2.png) no-repeat -32px -64px;
								text-align:center;
								font-size:16px;
								color:#333;
								background:none;
							}
							.avgsRow .col,.col5{
								font-size:16px;
								color:#333;
								font-family:"微软雅黑";
							}
							.actGroup .col1,.addGroupBtn{
								color:#333;
								font-size:14px;
								font-family:"微软雅黑";
							}
							.actGroup .col .add{
								right:30px;
								top:14px;
								width:6px;
								height:9px;
								background:url(../images/tool/sprites2.png) no-repeat -116px -72px;
								cursor:pointer;
								display:none;
							}
							
					.avgsRow{
						border-bottom:1px solid #fff;
						background: #D8D8D8;
					}
					.tFooter{
						border-top: 1px solid #ccc;
						height:58px;
						padding-top:10px;
					}
						.tFooter .addBtn{
							float:left;
							width:190px;
							text-align:center;
						}
						.tFooter .addBtn .addGroupBtn{
							width: 140px;
							height:32px;
							background:url(../images/tool/add.png) no-repeat left;
						}
						.tFooter .col1{
							float:right;
						}
						.tFooter .save{
							display:inline-block;
							float:none;
						}
	.uploadArea,.writeArea{
		position:relative;
		height: 320px;
		margin: 0 auto;
	}
	.userNote{
		height:320px;
	}
		.userUpload{
			position: absolute;
		}
		.clickUpload,.editDairyBtn{
			width:120px;
			height:30px;
			background:url(../images/tool/sprites.png) 0 -50px no-repeat;
			border-radius:6px;
			box-shadow:0 -2px 2px #fff;
			cursor: pointer;
			color:white;
			text-align: center;

		}
		.clickUpload:hover{
			background:url(../images/tool/sprites.png) 0 -98px no-repeat;
		}
		.editDairyBtn{
			background:url(../images/tool/sprites.png) -199px -50px no-repeat;
			margin-bottom: 10px;
		}
		.editDairyBtn:hover{
			background:url(../images/tool/sprites.png) -199px -99px no-repeat;
		}
	.writeArea{
		background:url(../images/tool/write.png) no-repeat center;
	}
		.writeArea div{text-align:center;}
		#write{
			resize: none;
			width: 390px;
			height: 200px;
			margin-top:30px;
			margin-bottom:10px;
			line-height: 26px;
			color:#007CCA;
			text-indent: 2em;
			outline: 0;
			border: 0;
			background:none;
			font-size:16px;
		}
		.writeSub{
			width:390px;
			height:40px;
			background:url(../images/tool/sprites.png) -149px -207px no-repeat;
		}
	
		.chart{
			float:left;
			background:#eaeaea;
			border: 2px solid white;
			width: 880px;
			height: 325px;	
		}
			.chart .date{
				float:left;
				width:140px;
			}
			.chartDate,.colorTip{
				float: left;
				width: 200px;
				height: 26px;
				margin: 10px 20px 0 20px;
			}
				.chartSelect,.colorTip span{
					float:left;
					width:52px;
					height:22px;
					margin-right:10px;
					border-radius:4px;
					background:#D9D9D9;
					color:white;
					line-height:22px;
					text-align:center;
					cursor:pointer;
					
				}
				.curChart{
					padding-bottom:5px;
					background:url(../images/tool/sprites2.png) no-repeat -121px -151px;
				}
				.colorTip span{
					cursor:default;
				}
				.colorTip .greenLine{
					background:#34BE4E;
				}
				.colorTip .blueLine{
					background:#1B52C1;
				}
				.colorTip .redLine{
					background:#FE3400;
				}
		.sider{
			width:25px;
			float:right;
			margin:30px 10px 0 0;
			_margin-right:5px;
		}
			.sider .chartBtn{
				width:25px;
				height:39px;
				background:url(../images/tool/sprites2.png) -1px -300px no-repeat;
				text-align:center;
				line-height:39px;
				color:#929292;
				font-weight:bold;
				text-shadow:1px 1px 1px #fff;
				font-size:16px;
				cursor:pointer;
			}
			.sider .curGroup{
				background:url(../images/tool/sprites2.png) no-repeat -51px -300px;
			}
	

	.ranking{
		width:256px;
		float:left;
		margin:0 100px 0px 170px;
		_margin-left:75px;
	}	
	.rankRight{
		margin-left:0;
	}
		.ranking .rankFace{
			width:30px;
			height:30px;
		}
		
		.ranking .rankType{
			width:185px;
			height:110px;
			margin: 0 auto;
			position:relative;
			background:url(../images/tool/pm_1.png) no-repeat;
		}
			.rankType span{
				position: absolute;
				bottom: 25px;
				left: 42px;
				color: white;
				font-weight: 800;
				font-size: 24px;
			}
		.sportsRank{
			background:#FFF;
		}
			.rankLine{
				margin:5px;
				border-bottom:1px solid #D9D9D9;
				padding:5px 0 2px 0;
			}
				.rankLine .rankDay{
					float:left;
					margin-right:2px;
					width:60px;
					height:20px;
					line-height:20px;
					background:#D9D9D9;
					text-align:center;
					cursor:pointer;
				}
				.rankLine .allRank{
					margin-right:0;
				}
				.rankLine .curRanking{
					background:#F1CD7E;
					color:white;
				}
			.rankList{
				margin:5px;
			}
				.userPos .rankName{
					text-decoration:none;
					color:#FFAE05;
					font-size:14px;
				}
				.userPos .rankName:hover{
					text-decoration:underline;
				}
				.topTen{
					margin: 20px;
				}
					.topTen li{
						position:relative;
						height:30px;
						margin-bottom:10px;
					}
					.topTen .order{
						position: absolute;
						top: 2px;
						display:inline-block;
						width:27px;
						height:27px;
						background:url(../images/tool/sprites2.png) no-repeat -151px -222px;
						text-align: center;
						line-height: 27px;
						color: white;
						font-weight: 800;
					}
					.topTen .otherName{
						position:absolute;
						top:10px;
						left:82px;
						color:#689100;
						text-decoration:none;
						font-size:14px;
					
					}
					.topTen .otherName:hover{
						text-decoration:underline;
					}
					.topTen .rankFace{
						position:absolute;
						left:37px;
					}
					.topTen .No1{
						background:url(../images/tool/sprites2.png) no-repeat -2px -223px;					
					}
					.topTen .No2{
						background:url(../images/tool/sprites2.png) no-repeat -50px -223px;					
					}
					.topTen .No3{
						background:url(../images/tool/sprites2.png) no-repeat -100px -223px;					
					}
		
/* gla */
	.wrap{
		position:relative;
	}
	#gla{
		position:relative;
		top:40px;
		height:280px;
		overflow:hidden;
	}
	#gla ul {
		position:absolute;
		right:160px;
		list-style:none;
		width:920px;
		height:280px;
	}
	#gla li {
		float:left;
		margin-left:10px;
		cursor:pointer;
	}
	#gla li img{
		width:450px;
		height:280px;
		border-radius: 8px;
		-moz-box-shadow: 3px 3px 4px #999;
		-webkit-box-shadow: 3px 3px 4px #999;
		box-shadow: 3px 3px 4px #999;
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');

	}
	#gla .userPicCurrent{
		cursor:default;
	}
			
#ui-datepicker-div{
	z-index:300!important;
}
	
.login_bg{
	opacity:0.5!important;
	filter: alpha(opacity=0)!important;
}		
.login_table{
	top:78px!important;
}
.imageLoading {
position: fixed;
left: 50%;
top: 40%;
z-index: 1001;
height: 79px;
font-size: 14px;
font-weight: bold;
color: #656565;
line-height: 30px;
}