<!--.main-wrap,#main End-->
<div class="tac">
<advertisement id='Site.Footer1' sys='1'/><br />
<advertisement id='Site.Footer2' sys='1'/>
</div>
<div class="footer_wrap">
	<div class="footer">
		<pw-drag id="footer_segment"/>

		<p><span>广州加伦信息科技有限公司- 粤ICP备12085654号</span></p>
		<p><a href="http://www.aijianmei.com">www.aijianmei.com</a></p>
	</div>
	<advertisement id='Site.FloatLeft' sys='1'/>
	<advertisement id='Site.FloatRight' sys='1'/>
	<advertisement id='Site.PopupNotice' sys='1'/>
	<div id="cloudwind_common_bottom"></div>
	<hook name="footer"/>
</div>

<!--返回顶部-->
<a href="#" rel="nofollow" role="button" id="back_top" tabindex="-1">返回顶部</a>
