/***********************header开始*************************/
		.header_logo{
		 	background: url("../images/dh_01.jpg") 0 0 transparent;
		    height: 79px;
		    text-align: center;
		}
		.header_logo a{
			display:inline-block;
			outline: 0px;
		}
		.returnbutton{
			position: absolute;
			display: inline-block;
			top: 30px;
			left: 15px;
			width: 80px;
			height: 37px;
			height: 37px;
			border:0px;
			cursor:pointer;
			background: url(../images/wm1.png) 0px -280px no-repeat;
		}
/***********************content开始*************************/
	#content{
		width:980px;
		margin:0 auto;
	}
		.content_tip{
			padding-top: 25px;
			text-align: center;
			font-size: 20px;
			font-weight: 700;
		}
		.choice_login{
			margin: 0 auto;
			width: 428px;
			margin-bottom: 10px;
		}
		.choice_login a:hover{
			opacity: 0.8;
		}
			.lay_target{
				float: left;
				padding:9px;
				
			}
				.target{
					background: url(../images/wm1.png) no-repeat;
				}			
				.logo_1{background-position: 0px 0px;}
				.logo_2{background-position: 0px -56px;}
				.logo_3{background-position: 0px -112px;}
				.logo_6{background-position: 0px -168px;}
				.logo_7{background-position: 0px -224px;}
			.target_login{
				height:47px;
				margin-left: 52px;
				height: 47px;
				line-height: 47px;
				font-size: 18px;
				font-weight: 700;
				color: white;
			}
			.changesize{
				font-size: 16px;
				margin-left: 66px;
			}
			.target{
				display: inline-block;
				width: 196px;
				height: 47px;
			}
		.local_account{
			clear:both;
			text-align: center;
			background: url(../images/border.png) repeat-x
		}
		.account_pic{
			padding: 9px;
		}
		.local_account .local_mas{
			padding: 35px 0;
			font-size: 20px;
			font-weight: 700;
			background: url(../images/border.png) repeat-x
		}
		.local_account .click_this{
			color: #D00;
		}
/***********************footer开始*************************/

	.conceal{
		display: block;
		padding-top: 20px;
		font-size: 13px;
		text-align: center;
		color: #FF4545;
	}