body{
	width:auto;
}

/******* Banner *******/
		#banner{
			width:960px;
			height:470px;
			overflow:hidden;
			position:relative;
		}
		#banner ul{
			height:470px;
			position:absolute;
		}
		#banner ul li{
			float:left;
			width:960px;
			height:453px;
			overflow:hidden;
			position:relative;
			text-align: center;
		}

		#banner ul li div{
			position:absolute;
			overflow:hidden;
		}

		#banner .btn{
			position:absolute;
			width:960px;
			height:10px;
			padding:5px 10px;
			right:0;
			bottom:0;
			text-align:center;
		}
		#banner .btn span{
			display:inline-block;
			_display:inline;
			_zoom:1;
			width:10px;
			height:10px;
			_font-size:0;
			margin-left:5px;
			cursor:pointer;
			background:#fff;
		}

		#banner .preNext{
			/*width:200px;*/
			width: 50px;
			height:270px;
			position:absolute;
			top:178px;
			cursor:pointer;
			z-index:1000;
		}
		#banner .pre{
			left:20px;
			background:url(../images/turn_left.png) no-repeat;
		}
		#banner .next{
			right:20px;
			background:url(../images/turn_right.png) no-repeat right top;
		}	
			

	
/******** Content *********/

	#content{
		margin-bottom: 60px;
		background: url(../images/border.png) no-repeat center top;
	}
	#content img{
		display: block;
		height:165px;
		width:219px;
		box-shadow: 0 0 8px #ccc;
		border:2px solid transparent;
	}	
	.classify i{
		position: absolute;
		top: -5px;
		left: -5px;
		display: inline-block;
		width: 84px;
		height: 84px;
		background: url(../images/new.png);
	}
	.lay_top{
		width:960px;
		margin:0 auto;
		margin-bottom:10px;
	}
	.part{
		margin:10px 15px;
	}
	.classify{
		float: left;
		width: 221px;
		margin-right:15px;
	}
	.classify p{
		line-height: 45px;
		font-size: 22px;
		text-align: center;
	}
	.part .spe{
		margin-right: 0px;
	}
		


		/*每日锻炼*/
		
		.expend{
			clear:both;
			font-size: 18px;
		}
		.expend li{

		}
		.expend li a{

		}





	
	
	
	