/*************Plan**************/
.row_line{
	width: 950px;
	background: url(../images/rowl.jpg) repeat-x;
	height: 2px;
	border:0;
}
/*******计划一级页面********/
.mainPlan .cont_side_1 img {
	width: 310px;
	height: 145px;
}
.mainPlan .cont_side_2{
	width: 640px;
}
.mainPlan .cont_rec{
	float:left;
}
/************天天锻炼页面样式*************/
.ms_hidden_part,.dailyTop .bg_opc_2,.dailyTop .day_part img,.dailyTop .day_part .bg_opc {
	width:310px;
	height:145px;
}
.person_ms span {
	display: inline-block;
	width: 50px;
	vertical-align: top;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.dailyTop .day_classifly li{
	width:310px;
	margin-right:15px;
}
.dailyTop .day_classifly .lastImg{
	margin-right:0px;
}


.article_item{
	position:relative;
	margin-bottom:15px;
}
.article_item .plan_cover{
	height:30px;
	line-height:30px;
	border-radius:0;
	font-size: 18px;
}
.article_item .cover_cont{
	position: absolute;
	width: 230px;
	height: 30px;
	line-height: 30px;
	bottom:3px;
	left:0;
	text-align: center;
	color: white;
	z-index: 1000;
	font-size:22px;
}

.daily_choice .article_item{
	float:left;
	margin-bottom:12px;
}
.daily_choice .a_item2{
	margin:0 12px 12px;
	_margin-left:6px;
}
.daily_choice .a_item3{
	margin-right:12px;
}
	.daily_choice .article_img{
		width:230px;
		height:130px;
	}
/*动作介绍*/
.dailywork{
	width:920px;
	padding:20px;
	margin: 30px 0;
	background:#FFF;
}
.dailywork .date{
	color:#21ACE3;
	font-size:24px;
}
.dailywork .info{
	margin:20px 0;
	line-height:30px;
	font-size:16px;
	color:#333;
	text-indent:2em;
}
.rest .date{
	margin-bottom:20px;
}
.rest img{
	float:left;
	margin-right:30px;
}
.rest .tipInfo{
	font-size:20px;
	color:#333;
	text-indent:2em;
	line-height:30px;
}
/*分享 喜欢*/
#dailyShare{
	position:relative;
	width: 327px;
}
.click_share a {
	position:absolute;
	width: 68px;
	height: 25px;
	margin-left: 5px;
	text-indent: -9999em;
	background: url(../images/wm3.png) no-repeat 0 -965px;
	display: inline-block;
}
#dailyShare .click_like {
	display: inline-block;
	position:absolute;
	margin-left: 120px;
	vertical-align: top;
	width: 58px;
	height: 24px;
	background: url(../images/wm3.png) no-repeat 0 -997px;
}
#dailyShare .num_like {
	width: 34px;
	height: 24px;
	line-height: 24px;
	position:absolute;
	right:0;
	text-align: center;
	background: url(../images/wm3.png) no-repeat 0 -1030px;
	padding-right: 45px;
}

.groups{
	float:left;
	width:445px;
}
.groupA{
	margin-right:30px;
}
.groups .groupTit{
	height:22px;
	background:#21ACE3;
	color:white;
	font-size:14px;
	padding-left:10px;
}
.groups .acts{
	position:relative;
	min-height:65px;
	padding-top:10px;
	border-bottom:1px solid #dcd8d2;
}
.acts .intoBtn{
	position:absolute;
	right:0;
	bottom: 5px;
	width:43px;
	height:23px;
	border:1px ridge #BD0115;
	background:#E73617;
	border-radius:4px;
	color:white;
	display:none;
}
.groups .odd{
	background:#f1f0ee;
}
.groups .acts img{
	width:55px;
	height:55px;
	float:left;
	margin-left:10px;
	_margin-left:5px;
}
.groups .acts p{
	margin-left:140px;
	font-size:14px;
	width:240px;
}
.groups .acts .actName{
	color:#21ACE3;
}
.groups .acts .actInfo{
	color:#333;
}

















