/****** Reset **********/
body,ul,button,input,h2,p{
	margin:0;
	padding:0;
}
p,h3{
	margin: 0;
}
img,button,input{
	border:0;
}
img{
	outline:0;
}
body{
	font-size: 14px;
	font-family: Microsoft YaHei,"微软雅黑",Lucida,Verdana,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;
	background:url(../images/bg.jpg) repeat;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	color:#656565;
	cursor:pointer;
}
a:hover{
	color:#47AEE8;
}


/******* clearfix ********/
.clearfix:after{
	content:"";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	line-height:0;
}
.clearfix{
	zoom:1;
}

/****** Triangle ******/
.triangle{
	padding:0;
	overflow:hidden;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	border-color:#BCBCBC #f7f7f7 #f7f7f7 #f7f7f7;
	border-style:solid;
	border-width:5px;
	margin-top:-2px;
	vertical-align: middle;
}

/*website top beginning*************************/

	/*outside 2013/4/15*/
	.head{
		height: 79px;
	}
	.header{
		position: fixed;
		left: 0;
		top:0;
		z-index: 1001;
		height: 79px;
		width: 100%;
		background: url(../images/dh_01.jpg) repeat-x;
	}
	.h_bg{
		margin: 0 auto;
		width: 960px;
		height: 72px;
		text-align: center;
		line-height: 72px;
	}
	.logo_1{
		float: left;
		width: 265px;
		text-indent: -999em;
		background: url(../images/wm3.png) 0 -651px no-repeat;
	}
	.logo{
		width:230px;
		margin: 30px 0 0 20px;
		float:left;
	}
	.logo a{
		display:block;
	}
	/******** Navigation ************/
	.nav{
		float: left;
		width: 695px;
	}
	.nav li{
		position: relative;
		float: left;
		height: 72px;
		margin:0 1px;
	}
	.home,.store{
		display: inline-block;
		padding-left: 34px;
		margin-top: 18px;
		height: 54px;
		line-height: 37px;
	}
	.home{
		background:url(../images/home.png) no-repeat;
	}
	.store{
		background:url(../images/store.png) no-repeat;
	}
	.nav a{
		display: block;
		padding: 0 8px;
		color: white;
		font-size: 23px;
		word-break:keep-all;/*solue with ie6*/
	}
	.nav_current a{
		background: url(../images/dh_02.jpg) repeat-x;
	}
	.nav_current .ag_current{
		position: absolute;
		bottom: 0;
		left: 46%;
		display: inline-block;
		width: 0;
		height: 0;
		line-height: 0;
		font-size: 0;
		overflow: hidden;
		border-style: solid;
		border-width: 5px;
		border-color: #2A94D0 #2A94D0 white;
	}
	.nav li:hover a{
		background: url(../images/dh_02.jpg) repeat-x;
	}

/*website top ending*************************/
.wrapper{
	width:960px;
	margin:0 auto;
	padding: 10px;
	overflow: hidden;
	background: #f7f7f7;
}