/******register Reset **********/
body,ul,p{
	margin:0;
	padding:0;
}
p,input{
	margin:0;
}
body{
	font-size: 14px;
	font-family: Microsoft YaHei,"微软雅黑",Lucida,Verdana,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;
	background:url(../images/bg.jpg) no-repeat;
}
ul{
	list-style:none;
}
a:hover{
	color:#47AEE8;
}
/******* clearfix ********/
.clearfix:after{
	content:"";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	line-height:0;
}
.clearfix{
	zoom:1;
}

/*pubilc module----------*/
	/*rg_top*/
		.rg_top{
			background: url(../images/register/rg_bg.jpg) repeat-x;
		}
		.rg_logo{
			padding:50px 0;
			text-align: center;
		}
		.rg_logo img{

		}
		.rg_tip{
			width: 360px;
			height: 43px;
			line-height: 43px;
			padding-bottom: 106px;
			margin: 0 auto;
			font-size: 20px;
			text-align: center;
			background: url(../images/register/02.png) no-repeat;
			color: white;
		}
	/*rg_bottom*/
		.rg_bottom{

		}
		.rg_step{
			text-align: center;
		}
		.rg_step span{
			display:inline-block;
			width:138px;
			height:138px;
			margin:-82px 25px 0 25px;;
		}
		.rg_step_1{
			background: url(../images/register/011.png) no-repeat;
		}
		.rg_step_2{
			background: url(../images/register/031.png) no-repeat;			
		}
		.rg_step_3{
			background: url(../images/register/051.png) no-repeat;			
		}
/*register_1 beginning------------------*/

	/*rg_form*/
		.rg_form{
			width: 400px;
			margin: 0 auto;
		}
		.rg_ms{
			position: relative;
			margin-top: 30px;
			background:url(../images/register/03.png) no-repeat;
		}
		.rg_ms label{
			position: absolute;
			top: 14px;
			left: 10px;
			font-size: 14px;
			color: #e9e9e9;
		}
		.rg_text{
			width: 95%;
			margin: 15px 10px;
			font-size: 14px;
			color: #e9e9e9;
			outline: 0;
			border: 0;
			background: 0;
		}
		.rg_ms .rg_text_tip{
			position: absolute;
			display: block;
			width: 150px;
			left: 410px;
			top: 14px;
			color: #21ace3;
		}
	/*pre_ne_choice*/
		.pre_ne_choice{
			margin:45px 0;
		}
		.pre_ne_choice a{
			width:150px;
			height:50px;
		}
		.pre_ne_choice .pre_choice{
			float:left;
			background: url(../images/register/04.png) no-repeat;
		}
		.pre_choice:hover{
			background: url(../images/register/05.png) no-repeat;
		}
		.pre_ne_choice .next_choice{
			float:right;
			background: url(../images/register/06.png) no-repeat;
		}
		.next_choice:hover{
			background: url(../images/register/07.png) no-repeat;	
		}
/*register_1 end------------------*/


/*register_3 beginning------------------*/
	/*re_choice*/
	.re_choice{

	}
	/*re_choice_way	*/
		.re_choice_way{

		}
	/*pre_ne_choice*/
		/*.pre_ne_choice{
			margin-bottom: 40px;
		}
		.pre_ne_choice a{
	/*rg_bottom*/
		.rg_step_rg3_1{
			background: url(../images/register/021.png) no-repeat;
		}
		.rg_step_rg3_3{
			background: url(../images/register/061.png) no-repeat;			
		}
	/*re_choice*/
	.rg_choice{
		width:775px;
		margin: 25px auto 0 auto;
	}
	/*rg_choice_way	*/
		.rg_choice_way{

		}
		.rg_choice_lay,.rg_choice_lay_sp{
			position: relative;
			float:left;
			padding: 5px;
		}
		.rg_choice_part{
			position: relative;
			display: block;
			width: 145px;
			height: 117px;
			overflow: hidden;
		}
		.rg_add_part{
			background: #21ace3;
		}
		.rg_choice_part img{
			width: 145px;
			height:117px;
		}
		.rg_way_content{
			position: absolute;
			left: 0;
			width: 100%;
			height: 31px;
			top: 86px;
			z-index: 10;
		}
		.rg_way_content p{
			font-size: 16px;
			margin: 5px 0;
			text-align: center;
			color: white;
		}
		.rg_img_bg{
			position: absolute;
			left:0;
			top: 0;
			display: block;
			width: 100%;
			height:100%;
			background: white;
			opacity: 0.5;
			filter:alpha(opacity=50);
			z-index: 3;
		}
		.rg_way_bg{
			position: absolute;
			left:0;
			top: 86px;
			display: block;
			width: 100%;
			height:31px;
			background: black;
			opacity: 0.5;
			filter:alpha(opacity=50);
			z-index: 5;
		}
	/*pre_ne_choice*/
		.pre_ne_rg3{
			margin:40px auto;
			width: 400px;
		}
		/*.pre_ne_choice a{
			width:150px;
			height:50px;
		}
		.pre_ne_choice .pre_choice{
			float:left;
			background: url(../images/register/04.png) no-repeat;
		}
		.pre_choice:hover{
			background: url(../images/register/05.png) no-repeat;
		}
		.pre_ne_choice .next_choice{
			float:right;
			background: url(../images/register/06.png) no-repeat;
		}
		.next_choice:hover{
			background: url(../images/register/07.png) no-repeat;	
		}*/
/*register_3 end------------------*/